{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}{{ current_tag }}{% endblock %}

{% block description %}Inlägg taggade med '{{ current_tag }}' på {{ website_name }}{% endblock %}

{% block keywords %}{{ current_tag }}{% endblock %}

{% block content %}
<div id="main">
  <div class="inner tag">
    <h1>Inlägg taggade med "{{ current_tag }}"</h1>
    <div class="tiles">
      {% for post in object_list %}
      <article class="style1">
        <span class="image">
        {% if post.specific.featured_image %}
          {% image post.specific.featured_image fill-353x326 %}
        {% else %}
          <img src="{{ default_preview }}" alt="default" width="353" height="326">
        {% endif %}
        </span>
        <a href="{% url 'blog:blogpost' post.slug %}">
          <h3>{{ post.specific.title }}</h3>
          <div class="content">
            <p>{{ post.specific.intro_text }}</p>
          </div>
        </a>
      </article>
      {% empty %}
        <p id="empty">Hittade tyvärr inga taggade inlägg. Testa någon av taggarna nedanför istället.</p>
          <div class="tags">
              {% for tag in all_tags %}
                <a href="{% url 'blog:tagpage' tag|slugify %}">#{{ tag }}</a>
              {% endfor %}
          </div>
      {% endfor %}
    </div>
    {% if is_paginated %}
    <div class="pagination">
      {% if page_obj.has_previous %}
      <div id="pagination_previous"><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i> Nyare inlägg</a></div>
      {% endif %}
      {% if page_obj.has_next %}
      <div id="pagination_next"><a href="?page={{ page_obj.next_page_number }}">Äldre inlägg <i class='fa fa-angle-right'></i></a></div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
